<% @posts.each do |category| %>
  <h3 class="category-name"><%= category.name %></h3>
  <div class='items'>
    <% category.posts.each do |post| %>
      <div class='item'>
        <%= link_to image_tag(post.images[0].to_s), photographer_post_path(photographer_id: post.photographer_id, id: post.id), class: "category-image" %><br>
        <%= post.title %> 
      </div>
    <% end %>
  </div>
<% end %>