<h3>パッケージ一覧</h3>
<% @category.each do |category| %>
  <%= category.name %>
  <% category.packages.each do |package| %>
    <%= package.title %>
    <%= image_tag package.images.first.url  %>
  <% end %>
  <hr>
<% end %>