// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.items {
	display: flex;
  justify-content: space-between;
}


.headerimage img {
  width: 160px;
  height: 100px;
  margin-left: 15px;
}

.category-name { 
  position: relative;
  padding: 0.3em;
  padding-bottom: 15px;
}

.category-name:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  background: repeating-linear-gradient(-45deg, rgb(241, 188, 12),rgb(241, 188, 12) 2px, white 2px, white 4px);
}