// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post-new-area {
  margin-top: 30px;
}

.control-label {
  width: 40px;
}

.post-top-image {
  width: 80%;
}

.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #eb6100;
  margin-bottom: 40px;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #f56500;
}

a.btn--radius {
  border-radius: 100vh;
}
